<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
<startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
</startup>
  <appSettings>
    <clear/>
    <add key="id_caja" value="1"/>
    <add key="numero_caja" value="01"/>
    <add key="id_caja_dia" value="25280"/>
    <add key="id_usuario" value="1002"/>
    <add key="id_proveedor" value="1"/>
    <add key="igv" value="1.10"/>
    <add key="nombre_impresora" value="L4260 Series(Network)"/>
    <add key="HCheckIN" value="14"/>
    <add key="MCheckIN" value="00"/>
    <add key="HCheckOUT" value="12"/>
    <add key="MCheckOUT" value="00"/>
    <add key="AnioHotel" value="2019"/>
    <add key="hora_otro_dia" value="04:59:59 am"/>
    <add key=""/>
	<add key="baseUrl" value="http://demo.facturador.pe:8084" />
	<add key="token" value="vZ8N3IekwBB9G518a2IVvJ7fX5Jk9s5nznTzcKcDrGLGwZ2JVV" />
	<add key="pathFiles" value="D:\PDF_Descargados" />
  </appSettings>
<connectionStrings>
    <add name="SysHotelEntities" connectionString="metadata=res://*/SysHotelModel.csdl|res://*/SysHotelModel.ssdl|res://*/SysHotelModel.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                           data source=.;
                           initial catalog=SysHotel;
                           persist security info=True;
                           user id=sa;
                           password=Server@Local;
                           MultipleActiveResultSets=True;
                           App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    
    <add name="FAC" connectionString="Data Source=.;
                           Initial Catalog=FETPE;
                           Integrated Security=false;
                           uid=sa;pwd=Server@Local;
                           Connect Timeout=500"/>
    
    <add name="PadronEmpresa" connectionString="Data Source=.;
                           Initial Catalog=Repositorio_Empresas;
                           Integrated Security=false;
                           uid=sa;pwd=Server@Local;
                           Connect Timeout=500"/>

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
